In [1]:
import pandas as pd
import math
from google.colab import files

uploaded = files.upload()

Saving task4_190192.csv to task4_190192 (6).csv

In [2]:
df = pd.read_csv(list(uploaded)[0])
df

      ID  DISTANCE  STOP_COUNT   COST
0      1        29           4  17.68
1      2        17           8  13.35
2      3        26          12  16.74
3      4         8           4  21.88
4      5         4          10  10.75
..   ...       ...         ...    ...
195  196        23           5  25.15
196  197        11           3  19.21
197  198         9           7  25.30
198  199        18           2  13.52
199  200        29           1  23.70

[200 rows x 4 columns]

In [3]:
df['VAL'] = df['COST']
min_distance = df['DISTANCE'][0]
min_stop = df['STOP_COUNT'][0]
min_cost = df['COST'][0]

for i in df.index:
  min_distance = min(min_distance, df['DISTANCE'][i])
  min_stop = min(min_stop, df['STOP_COUNT'][i])
  min_cost = min(min_cost, df['COST'][i])

for i in df.index:
  df['VAL'][i] = (1 - math.exp(1 - df['DISTANCE'][i] / min_distance)) + (1 - math.exp(1 - df['STOP_COUNT'][i] / min_stop)) + (1 - math.exp(1 - df['COST'][i] / min_cost))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [4]:
list_val = df['VAL'].values.tolist()
list_val.sort()

In [5]:
k = 0
for i in df.index:
  if df['VAL'][i] == list_val[k]:
    print(df['ID'][i])
    k += 1
  if k == 3:
    break

47
49
101