In [1]:
import pandas as pd
from google.colab import files
import calendar 

uploaded = files.upload()

Saving task2_661923.csv to task2_661923.csv

In [2]:
dt = pd.read_csv(list(uploaded)[0])
dt

           <DATE>    <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0      01.09.2020  10:00:00  113700  115257  108096   112635     32
1      01.09.2020  10:01:00  112631  115295  107977   108568     12
2      01.09.2020  10:02:00  110492  115269  108051   108948     68
3      01.09.2020  10:03:00  110768  114969  108112   112787     67
4      01.09.2020  10:04:00  113211  115184  107911   112312     92
...           ...       ...     ...     ...     ...      ...    ...
51721  30.12.2020  19:56:00  111304  115148  107972   114958      4
51722  30.12.2020  19:57:00  112713  115137  107934   114943      9
51723  30.12.2020  19:58:00  108781  114746  107931   112269     54
51724  30.12.2020  19:59:00  113929  115267  107908   110312     38
51725  30.12.2020  20:00:00  113252  115224  107923   114117     30

[51726 rows x 7 columns]

In [3]:
# ******* PUT DATA HERE ******
task1_date = "10.11.2020"
task1_time = "18:09:00"

task21_date = "22.12.2020"
task21_time = "15:07:00" 

task22_date = "06.10.2020"

task23_date = "24.11.2020" 

task24_dayofweek = 5
task24_month = 11

In [4]:
def solve1():
  date, time, open, high, low, close, vol = dt.loc[(dt['<DATE>'] == task1_date) & (dt['<TIME>'] == task1_time)].values.tolist()[0]
  print((open + close + high + low) / 4)

In [5]:
def solve21():
  date, time, open, high, low, close, vol = dt.loc[(dt['<DATE>'] == task21_date) & (dt['<TIME>'] == task21_time)].values.tolist()[0]
  print((open + close + high + low) / 4 * vol)

In [6]:
def solve22():
  ans = 0
  for x in dt.loc[(dt['<DATE>'] == task22_date)].values.tolist():
    date, time, open, high, low, close, vol = x
    ans += (open + high + low + close) / 4 * vol
  print(round(ans))

In [7]:
def solve23():
  print(len(dt.loc[(dt['<DATE>'] == task23_date)  & (dt['<OPEN>'] > dt['<CLOSE>'])].values))

In [8]:
def check(str_date):
  day, month, year = (int(i) for i in str_date.split('.'))
  return (calendar.weekday(year, month, day) + 2 == task24_dayofweek) & (month == task24_month)

def solve24():
  l = dt.values.tolist()
  ans = 0
  for x in l:
    date, time, open, high, low, close, vol = x
    if check(date):
      ans += (open + close + high + low) / 4 * vol
  print(round(ans))

In [9]:
solve1()
solve21()
solve22()
solve23()
solve24()

111682.25
5235623.75
3374476689
287
13168277409